@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); /* navbar links */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Noto+Sans:wght@300&display=swap'); /* IW logo up left */

.navbar {
    display:flex;
    color: #fff;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px  12px;
    background-color: #0c313b22;
  
  }

  .navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    font-family: 'Noto Sans', sans-serif;
    
  }

  .iw {
    font-family: 'Licorice', cursive;
    font-size: 36px;
    width: 250px;
  }
  
  #li {
    font-size: 18px;
  }  