/* ------------------------------- Global ------------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); /* navbar links */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Noto+Sans:wght@300&display=swap'); /* IW logo up left */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Licorice&family=Noto+Sans:wght@300&display=swap'); 
/*Typerwriter font for the main headline */


/* font-family: 'Noto Sans', sans-serif; */

/* ------------------------------- /Global ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------- HTML tags ------------------------------------ */


body { 
  padding: 0;
  margin: 0;
  overflow-x: hidden;  
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  font-family: 'Noto Sans', sans-serif;
  
}

a {
  text-decoration: none;
  color: #fff;
}


/* ------------------------------- /HTML tags ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------- Class selectors ------------------------------------ */


.space {
  display:flex;
  flex-basis: 100%;
  justify-content: center;
  height: 400px;
}


.navbar {
  display:flex;
  color: #fff;
  flex-basis: 100%;
  justify-content: space-between;
  padding: 48px 48px  0;
  
  background-color: #0c313b22;

}

.boxes {
  display:flex;
  flex-basis: 100%;
  height: calc(25vh - 100px);
  justify-content: space-evenly;
}


.iw {
  font-family: 'Licorice', cursive;
  font-size: 36px;
  width: 250px;
}


/* ------------------------------- /Class selectors ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */


/* ------------------------------- ID selectors ------------------------------------ */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: brightness(1.2);
  z-index: -2;

}

#li {
  font-size: 18px;
}

/* ------------------------------- /ID selectors ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------- Animation ----------------------------------------- */

.typewriter p {
    border-right: .10em solid rgb(255, 255, 255);
    font-family: 'Anonymous Pro', monospace;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 3rem;
    background-color: #0c313b45;
  }
  
  .text {
    width: 54rem;
    animation: type 6s steps(33, end);
    animation-fill-mode: forwards;
  }
  
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .10em solid rgb(255, 255, 255);
    }
    100% {
      border: none;
    }
  }
  
  .text2 {
    width: 52rem;
    opacity: 0;
    animation: type3 7s steps(32, end), blink .75s step-end infinite alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  





/* ---------------------------------- /Animation ----------------------------------------- */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------- Scrollbar ----------------------------------------- */



/* ---------------------------------- /Scrolbar ----------------------------------------- */




/* ---------------------------------- Testing  ----------------------------------------- */



/* --------------------------------------------------------- */
/* --------------------------------------------------------- */



  