/* ------------------------------- Global ------------------------------------ */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap'); /* navbar links */
@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Noto+Sans:wght@300&display=swap'); /* IW logo up left */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Licorice&family=Noto+Sans:wght@300&display=swap'); 
/*Typerwriter font for the main headline */


/* font-family: 'Noto Sans', sans-serif; */

/* ------------------------------- /Global ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------- HTML tags ------------------------------------ */
html {
display:flex;
}

body { 
  padding: 0;
  margin: 0;
  overflow-x: hidden;  
  display: flex;
  flex-wrap: wrap;
  flex-basis:100%;
}



a {
  text-decoration: none;
  
}

footer {
  display: flex;
  flex-direction: column;
  height: 246px;
  justify-content: end;
  margin-left: 5px;
  
}

/* ------------------------------- /HTML tags ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------- Class selectors ------------------------------------ */


.space {
  display:flex;
  flex-basis: 100%;
  justify-content: center;
  height: 400px;
  align-items: center;
  z-index: -2;
}


.boxes {
  display:flex;
  flex-basis: 100%;
  height: calc(25vh - 100px);
  justify-content: space-evenly;
}

.img-attribution {
  color: #3a98ce;
}



/* ------------------------------- /Class selectors ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */


/* ------------------------------- ID selectors ------------------------------------ */



#background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  filter: brightness(1.2);
  z-index: -2;

}



/* ------------------------------- /ID selectors ------------------------------------ */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------- Animation ----------------------------------------- */

.typewriter p {
    border-right: .10em solid rgb(255, 255, 255);
    font-family: 'Anonymous Pro', monospace;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 3rem;
    background-color: #0c313b45;
  }
  
  .text {
    width: 54rem;
    animation: type 6s steps(33, end);
    animation-fill-mode: forwards;
  }
  
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .10em solid rgb(255, 255, 255);
    }
    100% {
      border: none;
    }
  }
  
  .text2 {
    width: 52rem;
    opacity: 0;
    animation: type3 7s steps(32, end), blink .75s step-end infinite alternate;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  





/* ---------------------------------- /Animation ----------------------------------------- */

 /* /////////////////////////////////////////////////////////////////////////////////////// */

/* ---------------------------------- Scrollbar ----------------------------------------- */



/* ---------------------------------- /Scrolbar ----------------------------------------- */




/* ---------------------------------- Testing  ----------------------------------------- */



/* --------------------------------------------------------- */
/* --------------------------------------------------------- */



.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  footer {
    height: 225px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  footer {
    height: 225px;
    
  }

}



/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  footer {
    height: 225px;
 
  }
}


/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .typewriter p {
    max-width: 540px;
    font-size: 30px;
  }

}

@media (max-width: 883px) {
  .container {
    max-width: 640px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .typewriter p {
    max-width: 540px;
    font-size: 30px;
  }

  .boxes {
    display:flex;
    flex-basis: 100%;
    height: calc(25vh - 100px);
    gap: 100px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .space {
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    height: 250px;
    align-items: center;
    z-index: -2;
  }


 
  footer {
    height: 375px;
  }


}
/* sm */
@media (max-width: 548px) {
  .container {
    max-width: 475px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .space {
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    height: 250px;
    align-items: center;
    z-index: -2;
  }

  .boxes {
    display:flex;
    flex-basis: 100%;
    height: calc(25vh - 100px);
    gap: 35px;
  }


 
  footer {
    height: 375px;
  }

  .typewriter p {
    max-width: 350px;
    font-size: 24px;
  }

  #main-links {
    font-size: 24px;
  }


}

/* xs */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .typewriter p {
    max-width: 350px;
    font-size: 24px;
  }

 #main-links {

  font-size: 18px;


  }

}
/* xs */
@media (max-width: 412px) {
  .container {
    width: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  footer {
    height: 400px;
}

  .boxes {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    height: calc(25vh - 100px);
    gap: 35px;
  }


  .typewriter p {
    max-width: 350px;
    font-size: 24px;
  }

 #main-links {

  font-size: 24px;


  }


  .space {
    display:flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    z-index: -2;
   
  }

  .typewriter p {
   margin-left: 16px;
  }



}